/**
 * @file
 * Stylesheet for Panopoly theme selection form.
 */
.panopoly-theme-selection-form .form-radios .form-item-theme {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  margin: .5rem 0 1rem;
  position: relative;
}

.panopoly-theme-selection-form .form-item-theme input {
  position: absolute;
  top: 1.5rem;
  left: 1rem;
}

.panopoly-theme-selection-form .form-item-theme label {
  display: flex;
  align-items: flex-start;
  flex: 1;
  border: 2px solid #ebeae4;
  padding: 0.75rem 0.75rem 0.75rem 2.5rem;
  border-radius: 2px;
}

.panopoly-theme-selection-form .form-item-theme label span {
  flex: 1;
}

.panopoly-theme-selection-form .form-item-theme label p {
  margin: 0;
}

.panopoly-theme-selection-form .form-item-theme label img {
  margin-right: 1rem;
  border-radius: 2px;
}

.panopoly-theme-selection-form .form-item-theme input:checked + label {
  border-color: #1275b2;
  background-color: #f3fafe;
}

.panopoly-theme-selection-form .form-item-theme input:checked + label strong {
  color: #1275b2;
}
