/**
 * @file
 * CSS for the "Block Library" form.
 */

#panopoly-admin-blocks-form .panopoly-admin-category-checkbox-wrapper {
  margin-bottom: 3em;
}

#panopoly-admin-blocks-form .panopoly-admin-block-checkbox-wrapper .description {
  color: gray;
  font-style: italic;
}

#panopoly-admin-blocks-form .panopoly-admin-hidden-block-count {
  color: red;
}
